<h3 class="page-title" id="page-title">Who am I?</h3>
<p class="page-body" id="page-body">A 25 year old Open Standards Developer who's had a passion, since the age of 13, for using open technology across the board from HTML to Ruby.</p>