<h3 class="page-title" id="page-title">What interests me?</h3>
<p class="page-body" id="page-body">
  <ul class="distractions">
    <li>
      <a href="http://soundcloud.com/aeroku" target="_blank">DJing</a>
    </li>
    <li>
      <a href="http://soundcloud.com/lifeiscontent" target="_blank">Music Production</a>
    </li>
    <li>
      <a href="http://lifeiscontent.net" target="_blank">Web Development</a>
    </li>
  </ul>
</p>