
/*   RESET
-----------------------------------------------------------------------------*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/*   HELPERS
-----------------------------------------------------------------------------*/

/*body * { outline: 1px solid; }*/

/*   STYLE
-----------------------------------------------------------------------------*/
html, body { background: #f8f8f8; }
.wrapper {
  color: #cbcbcb;
  font: normal 12px/100% sans-serif;
  letter-spacing: -0.05em;
}

.content { padding: 5%; }

.menu,
.title,
.sub-title,
.page-title { font-weight: bold; }
.title { font-size: 3.6em; line-height: 1em; }
.sub-title { line-height: 1.1em; }
.menu, .sub-title { font-size: 2.3em; }
.page-title { font-size: 1.5em; padding: 2em 0 0em; }
.post-title { font-size: 1.3em; }
.post-title, .post-title + p, .page-title, .page-title + p { line-height: 1.33333333333333em; margin-top: 0.2em; }
.title a { text-decoration: none; }
.title a, .sub-title, .page-title { color: #505050; }
.post-title { margin-top: 0.5em; }
.menu { padding-top: 2em; }
.menu li { line-height: 1em; }
.menu li:first-letter { color: #505050; }
.posts li a, .distractions li a { padding: 1em 0; }
p a, .menu li a, .posts li a, .distractions li a { color: #cbcbcb; text-decoration: none; -webkit-tap-highlight-color: rgba(0,0,0,0);  font-weight: bold; }
p a, .menu li a:hover, .menu li a.selected { color: #505050; }
.post li, .distractions li { padding: 0.3em 0; }
.posts li a, .distractions li a { color: #505050; }

.portrait {width: 100%; text-align: right; }
.portrait img { margin-bottom: -3px; width: 100%; max-width: 420px; max-height: 589px; vertical-align: bottom; }

@media screen and (min-width: 480px) { body .wrapper { font-size: 16px; } }
@media screen and (min-width: 640px) { body .wrapper { font-size: 18px; } body .portrait { position: fixed; bottom: 0; right: 0; width: 40%; } body .page-title, .page-title + p { width: 60%; line-height: 1.33333333333333em; } }
@media screen and (min-width: 720px) { body .wrapper { font-size: 20px; } }
@media screen and (min-width: 800px) { body .wrapper { font-size: 22px; } }
@media screen and (min-width: 960px) { body .wrapper { font-size: 24px; } }