---
import clsx from 'clsx'
import type { HTMLAttributes } from 'astro/types'

type AnchorVariant = 'primary' | 'secondary'
type AnchorUnderline = 'hover' | 'none'
type AnchorSize = 'inherit' | 'sm' | 'base'
type AnchorWeight = 'inherit' | 'medium' | 'semibold'

interface Props extends Omit<HTMLAttributes<'a'>, 'style' | 'class'> {
  variant?: AnchorVariant
  underline?: AnchorUnderline
  size?: AnchorSize
  weight?: AnchorWeight
}

const {
  variant = 'primary',
  underline = 'hover',
  size = 'inherit',
  weight = 'inherit',
  ...htmlProps
} = Astro.props
const classes = clsx(
  'transition-colors focus-visible:underline focus-visible:decoration-black focus-visible:decoration-2 focus-visible:underline-offset-4 focus-visible:outline-none dark:focus-visible:decoration-white',
  {
    'text-sm': size === 'sm',
    'text-base': size === 'base',
  },
  {
    'font-medium': weight === 'medium',
    'font-semibold': weight === 'semibold',
  },
  {
    'text-black hover:text-black/80 active:text-black/70 dark:text-white dark:hover:text-white/90 dark:active:text-white/80':
      variant === 'primary',
    'text-black/70 hover:text-black/90 active:text-black dark:text-white/70 dark:hover:text-white dark:active:text-white/85':
      variant === 'secondary',
  },
  {
    'hover:underline': underline === 'hover',
  }
)
---

<a class={classes} {...htmlProps}>
  <slot />
</a>
