---
import clsx from 'clsx'
import type { HTMLAttributes } from 'astro/types'
type BadgeVariant = 'primary' | 'secondary'
type BadgeSize = 'xs' | 'sm'

interface Props extends Omit<HTMLAttributes<'a'>, 'style' | 'class'> {
  variant?: BadgeVariant
  size?: BadgeSize
}

const { variant = 'primary', size = 'xs', ...linkProps } = Astro.props

const classes = clsx(
  'inline-flex items-center gap-1.5 rounded-full px-2.5 py-1 font-medium tracking-tight transition-colors',
  {
    'bg-black text-white hover:bg-black/90 active:bg-black/80 aria-selected:bg-black/90 aria-selected:text-white aria-[current]:bg-black/90 aria-[current]:text-white dark:bg-white dark:text-black dark:hover:bg-white/90 dark:active:bg-white/85 dark:aria-selected:bg-white/90 dark:aria-selected:text-black dark:aria-[current]:bg-white/90 dark:aria-[current]:text-black':
      variant === 'primary',
    'bg-transparent text-neutral-900 hover:bg-black/5 hover:text-black active:bg-black/10 active:text-black aria-selected:bg-black/5 aria-selected:text-black aria-[current]:bg-black/5 aria-[current]:text-black dark:bg-transparent dark:text-neutral-100 dark:hover:bg-white/10 dark:hover:text-white dark:active:bg-white/15 dark:aria-selected:bg-white/10 dark:aria-selected:text-white dark:aria-[current]:bg-white/10 dark:aria-[current]:text-white':
      variant === 'secondary',
  },
  {
    'text-xs': size === 'xs',
    'text-sm': size === 'sm',
  }
)
---

<a class={classes} {...linkProps}>
  <slot />
</a>
